html, body, #box, section, a {
	margin: 0;
	padding: 0;
}
body {
	color: #333;
	font: normal 18px/1.618 'Lato', Arial;
	background-color: #f7f7f7;
}
a, a:visited {
	color: #333;
	text-decoration: none;
	transition: color .3s;
}
a:hover {
	color: #85cdff;
}
em {
	font-style: normal;
	font-size: 1.2em;
}
h1 {
	font: normal 26px/1.618 serif;
}

#box {
	margin: 50px auto;
	width: 400px;
}
#box span {
	margin: 5px auto 30px auto;
	padding: 7.5px;
	display: block;
	width: 385px;
	height: 20px;
	text-align: center;
	font-size: 1.3em;
	background-color: #f7f7f7;
}
#input {
	margin: 5px auto;
	width: 100%;
	border-bottom: 2px solid #999;
}
#input input {
	float: left;
	padding: 8px;
	border: none;
	background-color: #f7f7f7;
	font: normal 21px/1.618 'Lato', Arial;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
#box input[name="clear"] {
	cursor: pointer;
	width: 40px;
	color: #999;
}
#box input[name="clear"]:hover {
	color: #333;
}
#box input[name="q"] {
	width: 344px;
}
#box input[name="q"]:focus {
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#box form a, #r a {
	position: relative;
	box-shadow: 2px 2px #aaa;
	background-color: #26535D;
	color: #f7f7f7;
}
#box form a {
	top: 0;
	left: 0;
	display: block;
	margin: 40px auto 5px auto;
	height: 50px;
	width: 85px;
	background: #26535D url('64.conv-f7.png') center center no-repeat;
}
#r a {
	top: -20px;
	left: 10px;
	display: inline-block;
	padding: 1px 6px;
	font-size: 0.6em;
	font-weight: bold;
}
#box form a:hover, #box form a:active {
	top: 1px;
	left: 1px;
	box-shadow: 1px 1px #aaa;
}
#r a:hover, #r a:active {
	top: -19px;
	left: 11px;
	box-shadow: 1px 1px #aaa;
}

.info {
	position: absolute;
	top: 20px;
	width: 100%;
	display: none;
}
.info > div {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 10px;
	width: 400px;
	font-size: 0.9em;
	background-color: #ddd;
	box-shadow: 3px 3px #aaa;
	cursor: pointer;
}
.info > div > div {
	margin: 0;
	padding: 4px 0 6px 0;
	border-bottom: 1px dotted #bbb;
}
.info > div > div:last-child {
	border: none;
}
.info .x {
	position: absolute;
	top: 0;
	right: 10px;
	cursor: pointer;
	display: block;
}
.info h1 {
	margin: 0;
}
.info h1 span {
	margin: 0 5px;
	font-size: 0.5em;
}
.info a {
	font-weight: bold;
}

#links {
	margin: 0 0 10px 0;
	width: 100%;
	text-align: center;
}
#links a, #links-btn {
	margin: 0 10px;
	vertical-align: middle;
	transition: color .3s, background-color .3s;
}
#links-btn {
	display: none;
	margin: 30px auto 0;
	height: 32px;
	width: 32px;
	background: #aaa url('32.more.png') center center no-repeat;
}
#w8, .w8 {
	display: inline-block;
	height: 32px;
	width: 32px;
	background: #333 url('32.w8-inv-f7.png') center center no-repeat;
}
.w8 {
	vertical-align: middle;
	background: #ddd url('32.w8.png') center center no-repeat;
}
#w8:hover {
	background-color: #85cdff;
}
#w8-tile {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	z-index: 100;
	display: none;
	height: 100%;
	width: 100%;
	background: #26535D url('riu.white.png') 50% 20% no-repeat;
}

.clr {
	clear: both;
}
.mobile {
	display: none;
}
.x-mobile {
	display: inline-block;
}

@media only screen and (max-width: 479px) {
	
	#box {
		margin: 40px auto 0 auto;
		width: 100%;
	}
	#box span {
		padding: 1%;
		display: block;
		width: 98%;
		height: 20px;
		text-align: center;
		font-size: 1.3em;
		background-color: #f7f7f7;
	}
	#input {
		margin: 5px 8%;
		width: 84%;
	}
	#input input {
		padding: 2%;
	}
	#box input[name="clear"] {
		width: 14%;
	}
	#box input[name="q"] {
		width: 82%;
	}
	#box a {
		margin: 30px auto;
	}
	
	.info > div {
		width: 90%;
	}
	
	#links {
		display: none;
	}
	#links a {
		margin: 0;
		display: block;
		width: 100%;
	}
	#links a:nth-child(1) {
		margin-top: 30px;
	}
	#links > span {
		display: none;
	}
	#links-btn {
		display: block;
		background-color: #777;
	}
	a#w8 {
		display: inline-block;
		height: 32px;
		width: 32px;
	}
	#links-btn:hover {
		background-color: #85cdff;
	}
	
	.mobile {
		display: inline-block;
	}
	.x-mobile {
		display: none;
	}
	
}
